body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
  
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;

}
  
#moving-img {
    position: absolute;
    width: 8vw; 
    height: 7vh;
    
}

button {
    width: 8vw;
    height: 7vh;
    border-radius: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
    border: #ffffff;
    
}

button:hover {
    cursor: pointer;
    width: 9vw;
    height: 8vh;
}

.b1 {
    background-color: rgb(138, 0, 0);
    color: #f0f0f0;
}

.b2 {
    background-color: rgb(0, 167, 0);
    color: #f0f0f0;
}

.b3 {
    background-color: rgb(48, 0, 87);
    color: #f0f0f0;
}


div {
    position: absolute;
    display: flex; 
    flex-direction: column; 
    gap: 25px;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    display: flex;
    top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10vh;
    font-size: 5vw;
}

h1:hover {
    color: rgb(0, 4, 255);
    cursor: crosshair;
    font-size: 11vh;
    font-size: 6vw;
}